@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#epilogue img{
	height: 1em;
	vertical-align: middle;
}

#epilogue blockquote{
	font-variant: small-caps;
}

q{
	font-style: italic;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

#figure-1 img,
#figure-2 img{
	width: 10em;
}

#figure-3 img,
#figure-4 img{
	width: 16em;
}

#figure-5 img{
	width: 7em;
}
